common --registry=https://bcr.bazel.build/
common --registry=https://bazel.stevenlr.com/registry/

startup --windows_enable_symlinks
build:windows --enable_runfiles=true

build --enable_platform_specific_config
build --build_python_zip=false

build --features=c++23
build --cxxopt=-Weverything
build --cxxopt=-Wno-c++98-compat
build --cxxopt=-Wno-c++98-compat-pedantic
build --cxxopt=-Wno-pre-c++17-compat
build --cxxopt=-Wno-c++20-compat
build --cxxopt=-Wno-unused-macros
build --cxxopt=-Wno-documentation-unknown-command
build --cxxopt=-Wno-extra-semi-stmt
build --cxxopt=-Wno-extra-semi
build --cxxopt=-Wno-global-constructors
build --cxxopt=-Wno-unsafe-buffer-usage
build --cxxopt=-Wno-covered-switch-default
build --cxxopt=-Wno-unused-command-line-argument
build --cxxopt=-Wno-padded
build --cxxopt=-Wno-weak-vtables

build:sanitizers --features=asan
build:sanitizers --features=ubsan

test --test_output=errors
