Checks:
  - "hicpp-*"
  - "cppcoreguidelines-*"
  - "misc-*"
  - "clang-analyzer-*"
  - "-misc-include-cleaner"
  - "performance-*"
  - "readability-*"
  - "-*-named-parameter"
  - "-*-avoid-do-while"
  - "-*-magic-numbers"
  - "-*-identifier-length"
  - "-*-union-access"
  - "-*-vararg"
  - "-*-macro-usage"
  - "-*-non-private-member-variables-in-classes"
  - "-*-avoid-non-const-global-variables"
  - "-*-missing-std-forward"
  - "-*-owning-memory"
  - "-*-no-malloc"
  - "-*-avoid-c-arrays"
  - "-*-use-anonymous-namespace"
  - "-*-reinterpret-cast"
  - "-*-noexcept-swap"
  - "-*-noexcept-move"
  - "-*-noexcept-move-constructor"
  - "-*-noexcept-move-operations"
  - "-*-bounds-array-to-pointer-decay"
  - "-*-no-array-decay"
  - "-*-signed-bitwise"
  - "-readability-use-anyofallof"
  - "-readability-function-cognitive-complexity"
  - "-readability-math-missing-parentheses"
  - "-*-rvalue-reference-param-not-moved"
