Checks:
  - "*"
  - "-llvm*"
  - "-altera*"
  - "-fuchsia*"
  - "-*-use-trailing-return-type"
  - "-readability-identifier-length"
  - "-cppcoreguidelines-macro-usage"
  - "-*-avoid-c-arrays"
  - "-*-non-private-member-variables-in-classes"
  - "-*-use-anonymous-namespace"
  - "-cert-err58-cpp"
  - "-*noexcept*"
  - "-*-magic-numbers"
  - "-*-named-parameter"
