Checks:
  - "*"
  - "-llvm*"
  - "-altera*"
  - "-fuchsia*"
  - "-*-use-trailing-return-type"
  - "-readability-identifier-length"
  - "-cppcoreguidelines-macro-usage"
  - "-*-avoid-c-arrays"
  - "-*-non-private-member-variables-in-classes"
  - "-*-use-anonymous-namespace"
  - "-cert-err58-cpp"
  - "-*noexcept*"
  - "-*-magic-numbers"
  - "-*-named-parameter"
  - "-misc-include-cleaner"
  - "-google-runtime-int"
  - "-bugprone-easily-swappable-parameters"
  - "-*-signed-bitwise"
  - "-*-avoid-do-while"
  - "-cppcoreguidelines-pro-type-union-access"
  - "-*-copy-assignment-signature"
  - "-*-unconventional-assign-operator"
  - "-readability-math-missing-parentheses"
